<h1>TO THE DEATH</h1>
<form action='/display'>
  <div class="form-group">
    <label for="player1">Player One: Select your weapon</label>
    <select class="form-control" input id="player1" name="player1">
      <option value="rock">rock</option>
      <option value="paper">paper</option>
      <option value="scissors">scissors</option>
    </select>
  </div>
  <div class="form-group">
    <label for="player2">Player Two: Select your weapon</label>
    <select class="form-control" input id="player2" name="player2">
      <option value="rock">rock</option>
      <option value="paper">paper</option>
      <option value="scissors">scissors</option>
    </select>
  </div>
  <button type="submit" class="btn btn-danger">BATTLE</button>
</form>
