<h1>GOD VS MACHINE</h1>
<form action='/displayloner'>
  <div class="form-group">
    <label for="playerloner">Player: Select your weapon</label>
    <select class="form-control" input id="playerloner" name="playerloner">
      <option value="rock">rock</option>
      <option value="paper">paper</option>
      <option value="scissors">scissors</option>
    </select>
  </div>
  <button type="submit" class="btn btn-danger">BATTLE</button>
</form>
