<h1>PREPARE FOR A LEGENDARY BATTLE OF THE WITS</h1>
<h3>Mere mortals need not apply</h3>
<form action='/form'>
<button type="submit" class="btn btn-danger">2 PLAYER</button>
</form
<h3>OR</h3>
<form action='/formloner'>
<button type="submit" class="btn btn-danger">1 PLAYER</button>
</form>
